BallCascade/.vs/
BallCascade/bin/Debug/net8.0/cs/System.CommandLine.resources.dll
BallCascade/bin/
BallCascade/obj/
BallCascadeTests/bin/Debug/net8.0/CoverletSourceRootsMapping_BallCascadeTests
BallCascadeTests/bin/
BallCascadeTests/obj/
.vs/
